<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222835500576-ffg3o927eblp6kus5u7nrqog6nk1c3ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222835500576-ffg3o927eblp6kus5u7nrqog6nk1c3ud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222835500576-7blsbdd1g0c7hghtcgk50g9o5kt7v7l8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Mze858uUImUffFRFOPQTM_Iq13PQF0s</string>
	<key>GCM_SENDER_ID</key>
	<string>222835500576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.llastmile.pocstorybook</string>
	<key>PROJECT_ID</key>
	<string>poc-storybook-s3b929</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-storybook-s3b929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222835500576:ios:7eedfc0dd4f08d01177e45</string>
</dict>
</plist>